@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

.title-font {
  font-family: "Sigmar One", sans-serif;
}


body {
  background: #ffb367;
}

@layer utilities {

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexAround {
    @apply flex items-center justify-around;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .flexColStart {
    @apply flex flex-col items-start justify-center
  }

  .flexColCenter {
    @apply flex flex-col items-center justify-center
  }

  .flexColEnd {
    @apply flex flex-col items-end justify-center
  }

  .flexColBetween {
    @apply flex flex-col items-center justify-between
  }


}

#hero {
  background-image: url('/img/hero_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about_img {
  background-image: url('/img/paint_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* shadow */
#hero::after {

  content: '';
  position: absolute;
  top: -150px;
  left: -100px;
  transform: translateX(-50%);
  width: 900px;
  height: 500px;
  border-radius: 20%;
  background: radial-gradient(ellipse at center, hsla(281, 97%, 55%, 0.3),
      transparent 64%);
  z-index: 0;
}